aiohttp==3.10.5
botbuilder==0.0.1
botbuilder-ai==4.16.2
botbuilder-core==4.16.2
botbuilder-dialogs==4.16.2
botbuilder-integration-aiohttp==4.16.2
botbuilder-schema==4.16.2
botframework-connector==4.16.2
databricks-sdk==0.46.0
flask-cors==5.0.1
pandas==2.2.3
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
